*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100vw;
    background: linear-gradient();
    padding: 2%;
    background: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
    );
}
.nav{
    display: inline;
    margin-inline: 5%;
    color: white;
}
.active{
    background-color: white;
    color: black;
    padding: 0.6% 1.5%;
}
.main{
    background-image: url(desktop-wallpaper-construction-site-construction-work.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.main1{
    height: 500px;
    width: 100%;
}
.main1 > img{
    margin: 2%;
    width: 29%;
    height: 90%;
}
.main2{
    padding: 2%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.main2-paragraph{
    width: 45%;
    display: inline-block;
    color: white;
}
.main2-img{
    width: 45%;
    display: inline-block;
    margin: 1%;
}
}